<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Forecast</title>
</head>
<body>
    <div>
        <h4>Forecast</h4>
        <div>
            <div id="error">
                <p th:text="${error}">error</p>
            </div>
            <form method="GET" th:action="@{/weather/forecast}" th:object="${forecast}">
                <div>
                    <label for="day">Day</label>
                    <input id="day" type="date" th:field="*{day}"/>
                </div>
                <div>
                    <label for="location">Location</label>
                    <input id="location" type="text" th:field="*{location}"/>
                </div>
                <div>
                    <label for="temperature">Temperature (C)</label>
                    <input id="temperature" type="number" th:field="*{temperatureCelsius}" disabled/>
                </div>
                <div>
                    <button type="submit">Make a forecast</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>